@page "/listings/complete"

<div class="container">
    <div class="card">
        <h1>Your Listing has been successful!</h1>
        <div class="buttons">
            <a href="/listings/create" class="btn btn-primary">Make another listing?</a>
            <a href="/Account/Profile" class="btn btn-secondary">Go To Profile</a>
        </div>
    </div>
</div>
