@page "/reports"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using ProjectCardPark1.Domain
@using ProjectCardPark1.Data
@implements IAsyncDisposable
@inject IDbContextFactory<ProjectCardPark1.Data.ProjectCardPark1Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="reports/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Report">
    <PropertyColumn Property="report => report.Description" />
    <PropertyColumn Property="report => report.ListingId" />
    <PropertyColumn Property="report => report.UserId" />
    <PropertyColumn Property="report => report.DateCreated" />
    <PropertyColumn Property="report => report.DateUpdated" />
    <PropertyColumn Property="report => report.CreatedBy" />
    <PropertyColumn Property="report => report.UpdatedBy" />

    <TemplateColumn Context="report">
        <a href="@($"reports/edit?id={report.Id}")">Edit</a> |
        <a href="@($"reports/details?id={report.Id}")">Details</a> |
        <a href="@($"reports/delete?id={report.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ProjectCardPark1Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
