.profile_pic {
    width: 10px; /* Size of the container */
    height: 10px;
    border: 5px solid #fff; /* Border color */
    border-radius: 50%; /* Makes the container circular */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Background color in case the image doesn't load */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
}

.profile-picture-container:hover {
    transform: scale(1.05); /* Slightly enlarges the container on hover */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Enhances shadow on hover */
}

.profile-picture {
    width: 100%; /* Ensures the image fills the container */
    height: 100%;
    object-fit: contain; /* Ensures the image covers the container without distortion */
    border-radius: 50%; /* Makes the image circular */
}